
.containers {
  background: rgb(254,208,154);
  background: radial-gradient(circle, rgb(253, 232, 199) 57%, rgb(248, 243, 229) 100%);
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  /*width: 100vw;*/
  /*margin: 0;*/
}
.recipes-title-container {
  display: flex;
  justify-content: start;
  height: 50px;
  margin-top: 350px;
  margin-bottom: 30px;
  width: 100%;
}
.recipes-title {
  padding-left: 2.5vw ;
  width: 180px;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 78px;
}
.featured-collection-container {
  display: flex;
  height: 70vh;
  width: 95vw;
  border-radius: 8px;
  flex-direction: row;
  margin-bottom: 162px;
}
.featured-collection-image {
  width: 50%;
  height: 100%;
  background-color: aqua;
}
.featured-collection {
  width: 50%;
  height: 100%;
  background-color: white;
}
.featured-collection-name {
  margin-top: 63px;
  margin-left: 37px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
}
.featured-collection-title {
  background: #FF8A00;
  width: 336px;
  height: 60px;
  margin-left: 45px;
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-c-t- {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}
.trending-now {
  width: 95vw;
  justify-content: start;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.t-n-1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 78px;
  color: #000000;
  padding-right: 10px;
}
.t-n-2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 78px;
  color: rgba(255, 138, 0, 1);
}
.t-n-cc {
  height: 255px;
  width: 95vw;
}
.t-n-t {
  width: 320px;
  height: 200px;
}
.t-n-txt {
  height: 20px;
  margin-bottom: 84px;
}
.f-y-t-1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 78px;
  margin-right: 10px;
}
.f-y-t-2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 78px;
  color: rgba(255, 138, 0, 1);
}
.desc {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
