<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

<div class="container">
   <div *ngIf="loaded" class="recipe-top">
     <img class="recipe-image" src="{{recipe.img_url}}">
     <p class="recipe-name">{{recipe.title}}</p>
     <div class="recipe-rating">
       <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
       <p class="recipe-reviews">{{recipe.reviews}} reviews</p>
     </div>
   </div>
   <div class="recipe-info">
     <div class="recipe-difficulty info-box">
       <p>Level: {{recipe.difficulty}}</p>
       <p>Total: {{recipe.cook_time + recipe.prep_time}}</p>
     </div>
     <div class="recipe-time info-box">
       <p>Prep: {{recipe.prep_time}}</p>
       <p>Cook: {{recipe.cook_time}}</p>
     </div>
     <div class="recipe-servings info-box">
       <p>Yield: {{recipe.servings}}</p>
     </div>
   </div>
   <div class="recipe-save-button">
     <button type="button">Save Recipe</button>
   </div>
   <div class="recipe-content">
     <div class="recipe-content-ingredients">
       <h2>Ingredients: </h2>
       <ul>
         <li *ngFor="let ingredient of recipe.ingredients">
           {{ingredient.quantity}} {{ingredient.units}} of {{ingredient.name}}
         </li>
       </ul>
     </div>
     <div class="recipe-content-directions">
       <h2>Directions: </h2>
       <ol>
         <li>
           {{recipe.description}}
         </li>
       </ol>
     </div>
   </div>
</div>
