<link href="https://fonts.cdnfonts.com/css/chango" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
<div class="container">
  <a routerLink="" style="font-family: 'Chango', sans-serif; font-style: normal; font-weight: 400;
  font-size: 32px; line-height: 39px; color: #FF8A00; text-decoration: none;">ASüi</a>
  <ul class="ull">
    <li routerLink="/recipes">Recipes</li>
    <li routerLink="">Home</li>
    <li>Contact</li>
  </ul>
  <div class="input-group">
    <input class="form-control border-end-0 border rounded-pill" type="text">
    <span class="input-group-append">
      <i class="fa fa-search"></i>
      <button class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3" type="button">
      </button>
    </span>
  </div>
</div>
