.container {
  display: flex;
  flex-direction: row;
  width: 95vw;
  /*position: fixed;*/
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  /*background: rgb(254,208,154);*/
  /*background: radial-gradient(circle, rgb(253, 232, 199) 57%, rgb(248, 243, 229) 100%);*/
  justify-content: space-between;
  justify-self: center;
  padding-top: 20px;
}
.ull {
  display: flex;
  flex-direction: row;
}
li {
  padding-right: 40px;
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #605B5B;
}
input {
  width: 200px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid;
}

